@inject NavigationManager NavManager
<details class="flight-panel">
    <summary>
        @($"{flight.SourceAirportName} → {flight.DestinationAirportName} | {flight.ScheduledDepartureDate:dd MMM yyyy, HH:mm}")
    </summary>

    <div class="flight-details">
        <div class="row">
            <div class="col-8">
                <p><strong>Flight Number:</strong> @flight.FlightNo</p>
                <p><strong>Origin:</strong> @flight.SourceAirportName</p>
                <p><strong>Destination:</strong> @flight.DestinationAirportName</p>
                <p><strong>Departure:</strong> @flight.ScheduledDepartureDate.ToString("HH:mm")</p>
                <p><strong>Arrival:</strong> @flight.ScheduledArrivalDate.ToString("HH:mm")</p>
            </div>
            <div class="col-4 text-right">
                <p class="mb-2 price-tag"><strong>Price:</strong> @flight.Cost OMR</p>
                <button class="book-button" @onclick="() => NavigateToBooking(flight.FlightNo.ToString())">
                    BOOK NOW
                </button>
            </div>
        </div>
    </div>
</details>

@code {
    [CascadingParameter]
    public FlightOutputDTO flight { get; set; }

    private void NavigateToBooking(string flightNo)
    {
        NavManager.NavigateTo($"/book-flight/{flightNo}");
    }
}
